/* 마이페이지 스타일 */
.my-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .my-page h1 {
    font-size: 28px;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  .my-page h2 {
    font-size: 22px;
    color: #333;
  }